# The configuration file for bochk.
#

#
# config for the logging section
#
[logging]
log_file=subproc.log

# log level: debug, info, warning, error, critical
log_level=debug

# the directory to store log file, if store in current directory, leave it 
# empty. Do not put "\" at the end of the directory.
directory=
# directory=C:\Program Files\Git\git



[directory]

# The WinSCP program directory, WinSCP.com resides here
winscp=C:\Program Files (x86)\WinSCP

# The directory to download files from the sftp server
download=C:\Program Files\Git\git\subproc\upload

# The directory to store the WinSCP log file
winscp_log=C:\Program Files\Git\git\subproc


