# The configuration file for bochk.
#

#
# config for the logging section
#
[logging]
log_file=subproc.log

# log level: debug, info, warning, error, critical
log_level=debug

# the directory to store log file, if store in current directory, leave it 
# empty. Do not put "\" at the end of the directory.
directory=
# directory=C:\Program Files\Git\git



[directory]

# where to look for input cash and positions files. Leave it empty
# if in current directory.
input=
